<!DOCTYPE html>
<html>
<head>
<title>Welcome to nginx!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to my DIpLOM_PROjECT!</h1>
<h2>My name is Igor Svetikov.</h2>

<p>IP address = @IP_ADDRESS@<br/>
HOSTNAME = {{ansible_hostname}}
</p>

<p><em>please rate it excellent</em></p>
</body>
</html>
